name: Deploy production

on:
  push:
    branches: [ main ]

jobs:
  remote-ssh:
    runs-on: ubuntu-latest
    environment:
      name: open-pix
    steps:
      - name: executing remote ssh commands using ssh key
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 177.93.128.55
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          command_timeout: 1m
          script_stop: true
          script: | 
            cd /home/ubuntu/api/deploy-openpix/
            ./start-server.sh
